global
    log stdout format raw daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_in
    bind *:80
    default_backend ap_servers

frontend sftp_prod_in
    bind *:22
    default_backend sftp_prod

frontend sftp_uat_in
    bind *:8022
    default_backend sftp_uat

backend ap_servers
    balance roundrobin

    # 對 backend 做 HTTP 健康檢查，打 /health.php
    option httpchk GET /health.php
    http-check expect status 200

    # inter 3000：每 3 秒檢查一次
    # fall 2：連續 2 次失敗就標記為 DOWN
    # rise 3：連續 3 次成功才標記為 UP
    server ap1 ap1:80 check inter 3000 fall 2 rise 3
    server ap2 ap2:80 check inter 3000 fall 2 rise 3

backend sftp_prod
    balance roundrobin
    server sftp-prod sftp-prod:22

backend sftp_uat
    balance roundrobin
    server sftp-uat sftp-uat:8022

# （推薦）加一個 HAProxy stats 頁面（可視化看 UP/DOWN）
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 3s
